[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "1.21.0"
google-colab = "1.0.0"
numpy = "1.18.2"
pandas = "1.0.3"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
